.row {
    display: flex;
}

#about-me, #contact-me {
    flex: 1;
    margin: 10px
}

.work {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}